.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f6f2;
}

.logo {
  float: left;
  height: 12vh;
  width: auto;
  margin-top: 3vh;
}

/* styling for paragraph on about page */
.about {
  border-radius: 5px;
  background-color: #ebe6dc;
  margin-top: 15px;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 4vw;
  font-style: italic;
}

h1 {
  font-family: monotype;
  color: #333333;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

/* styling 2 nav bars*/
.menu {
  display: flex;
  justify-content: space-around;
  word-spacing: 2vw;
  padding-top: 8vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.menuItem {
  color: #333333;
  padding: 1em;
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
}

.recipeCategories {
  color: #333333;
  display: flex;
  padding: 0px;
  justify-content: center;
}

.category {
  padding: 1em;
  font-size: 20px;
  list-style-type: none;
}

/* removing colour/underline from clicked links
learnt from: https://www.w3schools.com/css/css_link.asp */
a:link {
  text-decoration: none;
  color: #333333;
}

a:visited {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: underline;
  color: #333333;
}

a:active {
  text-decoration: underline;
  color: #333333;
}

/* 1 row with 3 images (will change to 3 rows with 1 image each in media query) */
.imageGrid {
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 2vw;
  margin-right: 2vw;
}

.recipeImage {
  width: 30vw;
  height: 60vh;
  position: relative;
  border-style: solid;
  border-color: #bcaa89;
  justify-content: center;
  object-fit: cover;
}

.quote {
  text-align: center;
  color: #333333;
  size: 3vw;
  font-style: italic;
}

/* table styling */
h2 {
  font-size: 4vw;
  text-align: center;
  color: #bcaa89;
}
table {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
table,
th,
td {
  border: 1px solid #bcaa89;
  border-collapse: collapse;
}

.tableHeader {
  background-color: #ebe6dc;
}

.day {
  background-color: #ebe6dc;
  font-weight: bold;
  text-align: center;
  color: #333333;
}

.meal {
  background-color: #f8f6f2;
  text-align: center;
  color: #333333;
  size: 10vw;
  font-style: italic;
}

/* container with survey and image alongside each other, matching the margins from table above */
.flex-container2 {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.survey {
  font-weight: bold;
  font-size: 18px;
  color: #bcaa89;
  border-radius: 2px;
  background-color: #ebe6dc;
  padding-left: 10px;
}
.picture {
  width: 200px;
}

.leftContainter {
  flex: 1;
}

/* footer includes subscribe button - margins aligned with above containers */
footer {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.subscribe {
  border-radius: 2px;
  background-color: #ebe6dc;
  padding-left: 10px;
  padding-right: 1px;
  font-weight: bold;
  font-size: 18px;
  color: #bcaa89;
  display: inline-flex;
}

.comments {
  border-radius: 2px;
  background-color: #ebe6dc;
  padding-left: 10px;
  padding-right: 1px;
  font-weight: bold;
  font-size: 18px;
  color: #bcaa89;
  display: inline-flex;
}


/* media query stack page into single column when the screen is small */
@media screen and (max-width: 800px) {
  .flex-container,
  .imageGrid {
    flex-flow: column;
  }

  h1 {
    font-size: 30px;
  }

  .imageGrid {
    align-items: center;
  }
  .recipeImage {
    width: 80vw;
  }
}

.contactForm {
  text-align: center;
}

.contactFormLabels {
  background-color: #ebe6dc;
  border-radius: 2px;
  padding-left: 50px;
  padding-right: 50px;

  font-weight: bold;
  font-size: 18px;
  color: #bcaa89;
  display: inline-flex;
}

.emailLink{
  text-align: center;
  border-radius: 2px;
  padding-left: 50px;
  padding-right: 50px;

  font-size: 18px;
  color: #bcaa89;
}